.container {
    width: 1000px;
    max-width: calc(100% - 80px);
    padding: 20px 0;
    margin-right: auto;
    margin-left: auto;
}

.skillsContainer {
    display: flex;
    flex: 1;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Work Sans', serif;
    font-size: 18px;
    line-height: 35px;
}

.title {
    margin-bottom: 20px;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    font-weight: bold;
}

.skillItems {
    flex: 1;
}

.skillItem {
    flex: 1;
}

@media all and (max-width: 500px) {

    .title {
        font-size: 45px;
        line-height: 50px;
    }

    .skillsContainer {
        font-size: 16.5px;
        margin-right: 50px;
    }

    .skillItem {
        margin-right: 20px;
        font-size: 17.5px;
        line-height: 20px;
    }
}

@media all and (max-width: 425px) {

    .title {
        font-size: 40px;
        line-height: 50px;
    }

    .skillsContainer {
        font-size: 16px;
        line-height: 40px;
        margin-right: 50px;
    }

    .skillItem {
        margin-right: 20px;
        font-size: 17px;
        line-height: 20px;
    }
}

@media all and (max-width: 375px) {

    .title {
        font-size: 30px;
        line-height: 50px;
    }

    .skillsContainer {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

    .skillItem {
        font-size: 16px;
        margin-bottom: 5px;
    }
}

