.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 570px;
    max-width: calc(100% - 80px);
    min-height: 100vh;
    padding: 40px 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
}

.name {
    margin-bottom: 20px;
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    font-weight: bold;
    line-height: 80px;
    background: -webkit-linear-gradient(50deg,#dd0ddd,#ed3535);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 20px;
}

.description {
    margin-top: 20px;
    font-size: 20px;
}

.jobPos {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

@media all and (max-width: 500px) {

    .name {
        font-size: 70px;
        line-height: 60px;
    }

    .title {
        font-size: 20px;
        line-height: 50px;
    }

    .description {
        font-size: 20px;
        line-height: 40px;
    }

    .jobPos {
        font-size: 20px;
        line-height: 50px;
    }

}

@media all and (max-width: 425px) {

    .name {
        font-size: 60px;
        height: 120px;
    }

    .title {
        font-size: 18px;
        line-height: 40px;
    }

    .description {
        font-size: 18px;
        line-height: 40px;
    }

    .jobPos {
        font-size: 18px;
        line-height: 40px;
    }

}

@media all and (max-width: 375px) {

    .name {
        font-size: 52px;
        height: 120px;
    }

    .title {
        font-size: 16px;
        line-height: 30px;
    }

    .description {
        font-size: 16px;
        line-height: 30px;
    }

    .jobPos {
        font-size: 16px;
        line-height: 30px;
    }

}

