
.actionbar {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin: 30px 5px;
    border-radius: 3px;
    border: 2px solid #cd3ede;
    color: #cd3ede;
    font-weight: 500;
}

.invert {
    color: #fff;
    background-color: #cd3ede;
    background: linear-gradient(50deg,#f54ff5,#f37575);
    border: none;
    border-radius: 3px;
}

@media all and (max-width: 500px) {

    .actionbar {
        display: flex;
        margin-left: initial;
        margin-right: initial;
        flex-direction: column;
    }

    .button {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}


